
{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container margin-container">
        <div class="row">
            <div class="col-sm-12 col-md-10">
                <h2 class="w-50">Shopping Cart</h2>
            </div>
            <div class="col-2 d-none d-md-block">
                <a href="{% url 'products' %}" class="btn mb-3">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Shop More</span>
                </a>
            </div>
            <hr>
        </div>

        <div class="row">
            <div class="col">
                {% if cart_items %}
                <table class="table">
                    <thead>
                      <tr>
                        <th style="width: 15%;" scope="col">Image</th>
                        <th style="width: 15%;" scope="col">SKU</th>
                        <th style="width: 25%;" scope="col">Name</th>
                        <th style="width: 25%;" scope="col">Quantity</th>
                        <th style="width: 10%;" scope="col">Price</th>
                        <th style="width: 10%;" scope="col">Subtotal</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for item in cart_items %}
                            <tr>
                                <th class="py-5" scope="row"><img class="product-cart-img" src="{{ item.product.image.url }}" alt="{{ item.product.name }}"></th>
                                <td class="py-5"><strong><p>{{ item.product.sku }}</p></strong></td>
                                <td class="py-5">{{ item.product.name }}</td>
                                <td class="py-5">
                                    <div class="row">
                                        <div class="col-3 offset-1">
                                            <strong><p>{{ item.quantity }}</p></strong>
                                        </div>
                                        <div class="col-8">
                                            <form class="form update-form" method="POST" action="{% url 'change_cart' item.product.id %}">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <button class="decrement-qty btn btn-sm rounded-0"
                                                                data-item_id="{{ item.product.id }}" id="decrement-qty_{{ item.product.id }}">
                                                                <span>
                                                                    <i class="fas fa-minus fa-sm"></i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                        <input class="form-control form-control-sm qty_input" type="number"
                                                            name="quantity" value="{{ item.quantity }}" min="1" max="99"
                                                            data-item_id="{{ item.product.id }}" id="id_qty_{{ item.product.id }}">
                                                        <div class="input-group-append">
                                                            <button class="increment-qty btn btn-sm rounded-0"
                                                                data-item_id="{{ item.product.id }}" id="increment-qty_{{ item.product.id }}">
                                                                <span>
                                                                    <i class="fas fa-plus fa-sm"></i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-between">
                                                    <a class="update-product text-info ms-3 mt-3"><small>Update</small></a>
                                                    <a class="text-danger remove-product me-3 mt-3" id="remove_{{ item.product.id }}">
                                                        <i class="mx-1 fa-fw far fa-trash-alt"></i>
                                                    </a>
                                                </div>
                                            </form>
                                            
                                        </div>
                                    </div>
                                </td>
                                <td class="py-5">${{ item.product.price }}</td>
                                <td class="py-5">${{ item.product.price }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                {% else %}
                <strong><p class="my-3">Your cart is empty!</p></strong>
                <a href="{% url 'products' %}" class="btn btn-lg btn-dark mt-3">
                    <span>
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Go back and shop!</span>
                </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/qty_script.html' %}

<script type="text/javascript">
    $('.update-product').click(function (e) {
        var form = $(this).parent('.update-form');
        form.submit();
    })


    $('.remove-product').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken
        };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>

{% endblock %}