{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container h-100">
        <div class="row">
            <div class="col-lg-4 py-2 bg-shroud">
                <h3 class="text-uppercase text-center">Get your new gaming gear from us!</h3>
                <hr>
                <a href="#">
                    <button class="btn btn-lg btn-outline-success bg-dark my-2" type="submit">Browse our inventory!</button>
                </a>
            </div>
        </div>
        <div class="row justify-content-end" id="home-link-right">
            <div class="col-lg-4 lg-offset-6 py-2 bg-shroud">
                <h3 class="text-uppercase text-center">
                    Easier shopping! Just click below!
                </h3>
                <hr>
                <a href="{% url 'account_signup' %}">
                    <button class="btn btn-lg btn-outline-success bg-dark my-2" type="submit">Sign up!</button>
                </a> 
            </div>
        </div>
    </div>
{% endblock %}