{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container mb-3">
        <div class="row mx-0">
            <div class="col-12">
                <form method="GET" action="{% url 'products' %}" class="mb-3 mx-auto" id="search-form">
                    <div class="d-flex">
                        <div class="col-9">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="search_bar" id="search_bar">
                        </div>
                        <div class="col-3">
                            <button class="btn btn-bw button-trans ms-3 text-uppercase" type="submit">Submit</button>
                        </div>  
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container margin-container h-100">
        <div class="row">
            <div class="col-6 col-lg-4 py-2 bg-shroud">
                <h3 class="text-uppercase text-center">Get your new gaming gear from us!</h3>
                <hr>
                <div class="d-flex justify-content-center">
                    <a href="{% url 'products' %}" class="btn btn-bw button-trans btn-lg text-uppercase">Browse our inventory!</a>
                </div>
            </div>
        </div>
        <div class="row justify-content-end" id="home-link-right">
            <div class="col-6 col-lg-4 py-2 bg-shroud">
                {% if request.user.is_authenticated %}
                <h3 class="text-uppercase text-center">
                    Check your old orders here!
                </h3>
                <hr>
                <div class="d-flex justify-content-center">
                    <a href="{% url 'profile' %}" class="btn btn-bw button-trans btn-lg text-uppercase">Profile!</a>
                </div>
                {% else %}
                <h3 class="text-uppercase text-center">
                    Easier shopping! Just click below!
                </h3>
                <hr>
                <div class="d-flex justify-content-center">
                    <a href="{% url 'account_signup' %}" class="btn btn-bw button-trans btn-lg my-2 text-uppercase">Sign up!</a>
                
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}