/*------------------------------------------ Root for general colors/fonts -------------------  */
:root {
    --primary-header-color: linear-gradient(90deg, #cc2b5e, #753a88);
}


/*--------------------------------------- General styling -------------*/

html {
    height: 100%;
}

body {
    background: url('/media/main-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Lato', serif;
    font-weight: 500;
}

h1,h2,h3,
h4,h5,h6 {
    font-family: 'Roboto Slab', Helvetica;
    font-weight: 500;
}

span, a, small {
    font-family: 'Lato', serif;
    font-weight: 400;
}
/*------------------- Header & Top Margin ---------*/

.margin-container {
    margin-top: 120px;
}

#home-link-right {
    margin-top: 125px;
}

.zero-padding-margin {
    margin: 0;
    padding: 0;
}

.header-container {
    padding-top: 100px;
    width: 100%;
}

/*-------------------------- Backgrounds & Overlays -------------*/
.bg-shroud {
    background-color: rgb(255, 255, 255, 0.7);
}

.bg-header {
    background: var(--primary-header-color);
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #fff;
	z-index: -1;
}
/*--------------------------------------- Image styling -------------*/

.product-img {
    width:  14rem;
    height: auto;
    object-fit: cover;
}

.product-detail-img {
    width:  28rem;
    height: auto;
    object-fit: cover;
}

.product-cart-img {
    width:  auto;
    height: 15vh;
}

.product-mobile-img {
    width: auto;
    height: 7vh;
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}


.product-row {
    display: table;
}




/*--------------------- Django Message Container ----------- */
.message-container {
    position: fixed;
    top: 90px;
    right: 15px;
    z-index: 99999999;
}

/* Class for scrolling cart */
.cart-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #000; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
    max-width: 300px;
    margin-top: 8px;
}

.allauth-form-inner-content label {
    margin-top: 3px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    margin-top: 8px;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: blue; /* text-info */
}

.btn-black {
    color: #FFF;
    background: #000;
    border: white 3px solid;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-trans {
    border-radius: 4px;
    transition: all .15s ease-in;
    outline: none;
    font-family: 'open sans', sans-serif;
    font-weight: 500;
}

.btn-white {
    color: #000;
    background-color: #fff;
}

.btn-bw {
    color: #fff;
    background-color: #000;
}

.btn-file input[type='file'] {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.bg-black {
    background-color: #FFF !important; 
}
/*------------------- Input/Selector Styling ---------- */
input[type=search] {
    padding: 8px;
    border: #000 solid 2px;
    box-shadow: 2px 2px 1px 0px #000;
    margin-top: auto;
    margin-bottom: auto;
  }

input[type=submit] {
    margin-top: auto;
    margin-bottom: auto;
}

.input-group {
    min-width: 150px;
}

#sort_selector {
    padding: 8px;
    border: #000 solid 2px;
}

select  {
    background-color: transparent;
    border: 1px solid;
    font-family: inherit;
    border-radius: 0.38em;
    padding: 0.25em 0.5em;
    cursor: pointer;
    line-height: 1.1;
    background-color: gray;
    color: #fff;
}

select::-ms-expand {
    display: none;
}

.select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
     var(--select-border);
    
  }

/*-------------- Custom Button -------------*/

.button-trans {
    display: inline-block;
    outline: none;
    background-color: transparent;
    padding: 0 20px;
    line-height: 200%;
    border: 1px solid silver;
    background-image: linear-gradient(#000, #000 50%, #FFF 50%, #FFF);
    background-size: 100% 200%;
    -webkit-transition: background-position .3s;
    transition: background-position .3s;
}
.button-trans:hover {
    background-position: 0 -100%;
}
  
/* -------------------------- MEDIA QUERIES --- */

@media only screen and (max-width: 576px)  {
    #navbar-button {
        margin-bottom: 8px !important; 
    }
    
    #search-form {
        min-width: 200px;
    }

    .product-detail-img {
        max-width: 175px;
    }
}

@media (min-width: 576px) {
    #search-form {
        min-width: 200px;
    }

}

@media (min-width: 768px) {
    #search-form {
        max-width: 200px;
    }
}

@media (min-width: 992px) {
    #search-form {
        max-width: 300px;
    }
}

@media (min-width: 1200px) {
    #search-form {
        max-width: 365px;
    }
}