:root {
    --primary-border-color: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
    --primary-header-color: linear-gradient(90deg, #cc2b5e, #753a88);
    --fallback-border-color: #1a2a6c;
    --blur: 10px;
}

html {
    height: 100%;
}

body {
    background: url('/media/main-bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

.bg-header {
    background: var(--primary-header-color);
}

.bg-shroud {
    background-color: rgb(255, 255, 255, 0.7);
}

.margin-container {
    margin-top: 148px;
}

#home-link-right {
    margin-top: 250px;
}

.img-container {
    width:  14rem;
    height: 14rem;
    overflow: hidden;
}

.product-img {
    width:  14rem;
    height: auto;
    object-fit: cover;
}

.product-detail-img {
    width:  28rem;
    height: auto;
    object-fit: cover;
}

.product-cart-img {
    width:  8rem;
    height: auto;
}

.product-mobile-img {
    width: 77px;
    height: auto;
}

.product-line {
    display: table-cell;
}

.product-row {
    display: table;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #fff;
	z-index: -1;
}
.bg-gray {
    background-color: #d1cfcf;
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.header-container {
    padding-top: 100px;
}

/* -------------------------- MEDIA QUERIES --- */
@media only screen and (max-width: 369px)  {

#navbar-button {
    margin-bottom: 8px; !important
}

}
