{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="header-container mb-3 bg-black">
        <div class="row mx-0">
            <div class="col-12">
                <form method="GET" action="{% url 'products' %}" class="mb-3 mx-auto w-25" id="search-form">
                    <div class="d-flex">
                        <div class="col-9">
                            <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="search_bar" id="search_bar">
                        </div>
                        <div class="col-3">
                            <button class="btn btn-bw btn-trans ms-3" type="submit">Submit</button>
                        </div>  
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="logo-font mb-4">Product Management</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form method="POST" action="{% url 'edit_product' product.id %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.name != 'image' %}
                            {{ field | as_crispy_field }}
                        {% else %}
                            {{ field }}
                        {% endif %}
                    {% endfor %}
                    <div>
                        <a href="{% url 'products' %}" class="btn btn-trans btn-bw rounded mt-3"><span><i class="fas fa-chevron-left"></i></span> Products</a>
                        <button class="btn btn-trans btn-bw rounded mt-3 ms-3" type="submit"><span><i class="fas fa-lock"></i></span> Update Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block postloadjs %}
<script type="text/javascript">
    $('#new-image').change(function() {
        var file = $('#new-image')[0].files[0];
        $('#filename').text(`Image will be set to: ${file.name}`);
    })
</script>
{% endblock %}